<div fxLayout="row" fxLayoutAlign="space-between center">
  <h2 fxFlex="2 1 auto">{{ model.departureTime | date: 'hh:mmaaaaa' }}</h2>
  <h4 fxFlex>{{ model.departureAirport }}</h4>
  <span fxFlex></span>
  <h4 fxFlex="4 1 auto">
    <av-arrow [badge]="stopsBadge" [direction]="model?.type === 'return' ? 'left' : 'right'"></av-arrow>
  </h4>
  <span fxFlex></span>
  <h2 fxFlex="2 1 auto">{{ model?.arrivalTime | date: 'hh:mmaaaaa' }}</h2>
  <h4 fxFlex>{{ model?.arrivalAirport }}</h4>
  <h4 fxFlex="3 1 auto" fxHide fxShow.gt-xs fxLayout="row" fxLayoutAlign="end" fxLayoutGap="3px">
    <mat-icon inline>schedule</mat-icon> <span>{{ model?.travelTimeInHours }}h</span>
  </h4>
</div>
