.av-itinerary {
  padding: 16px 10px;

  .av-airport-code {
    font-size: 3em;
  }

  .av-plane {
    font-size: 3em;

    .mat-icon {
      transform: rotate(90deg);
    }
  }

  &.av-return {
    .av-plane {
      .mat-icon {
        transform: rotate(-90deg);
      }
    }
  }
}

.av-itinerary-subheader {
  margin-bottom: 32px;
}
