<div class="av-leg" fxLayout="row" fxLayoutAlign="space-between center">
  <h2>{{ model.departureTime | date: 'hh:mmaaaaa' }}</h2>
  <h4>{{ model?.departureAirport }}</h4>
  <h4 fxFlex=".1 1 auto" fxLayout="column" fxLayoutAlign="center center">
    <mat-icon color="primary">arrow_right_alt</mat-icon>
  </h4>
  <h2>{{ model?.arrivalTime | date: 'hh:mmaaaaa' }}</h2>
  <h4>{{ model?.arrivalAirport }}</h4>
  <h4 fxLayout="row" fxLayoutAlign="center" fxLayoutGap="3px">
    <mat-icon inline>schedule</mat-icon> <span>{{ model?.travelTime }}h</span>
  </h4>
</div>
