<ng-container *ngIf="model; else loadingRef">
  <div class="av-header" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
    <button class="av-close-btn" mat-icon-button>
      <mat-icon color="primary" inline>close</mat-icon>
    </button>
    <span fxFlex></span>
    <h2 class="av-m0 av-text-accent av-price">
      {{ model?.price | currency: 'USD':'symbol-narrow':'1.0-2' }}
    </h2>
  </div>
  <mat-divider></mat-divider>
  <div class="av-trip" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h2>{{ model?.type === 'depart' ? 'Departure' : 'Return' }}</h2>
      <span fxFlex></span>
      <h4>{{ model?.departureDate | date }}</h4>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h1 class="av-text-accent av-airport-code">
        {{ model?.departureAirport?.iataCode }}
      </h1>
      <h1>
        <mat-icon style="transform: rotate(90deg)" color="accent" inline>flight</mat-icon>
      </h1>
      <h1 class="av-text-accent av-airport-code">{{ model?.arrivalAirport?.iataCode }}</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h4>{{ model?.departureAirport?.name }}</h4>
      <h4>{{ model?.arrivalAirport?.name }}</h4>
    </div>
    <div>
      <mat-divider inset></mat-divider>
      <av-flight-card-leg *ngFor="let leg of model?.legs" [model]="leg"></av-flight-card-leg>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="av-actions" fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button color="primary">SELECT FLIGHT</button>
  </div>
</ng-container>
<ng-template #loadingRef>loading</ng-template>
