@import '~@angular/material/theming';

@mixin flight-card-theme($theme) {
  $accent: map-get($theme, 'accent');
  $background: map-get($theme, 'background');

  .av-flight-card {
    .mat-card {
      background-color: mat-color($background, 'card');
    }
  }
}
