<div class="av-flight-card">
  <mat-card
    class="mat-elevation-z0 mat-typography av-card"
    tabindex="-1"
    [class.av-detailed]="detailed"
    (click)="showDetail()"
    (blur)="hideDetail()"
  >
    <ng-container *ngIf="!detailed; else detailRef">
      <mat-card-content>
        <av-flight-card-summary [model]="summary"></av-flight-card-summary>
      </mat-card-content>
    </ng-container>
    <ng-template #detailRef>
      <av-flight-card-detail [model]="detail"></av-flight-card-detail>
    </ng-template>
  </mat-card>
</div>
