<div class="mat-typography">
  <div fxHide.gt-sm>
    <div class="av-flight-header" fxLayout="row" fxLayoutAlign="space-between baseline" fxLayoutGap="5px">
      <button class="av-close-btn" mat-icon-button (click)="close()">
        <mat-icon color="primary" inline>close</mat-icon>
      </button>
      <h4 class="av-m-0 av-title" fxFlex>{{ numbersString }}</h4>
      <h2 class="av-my-0 av-text-accent av-price">{{ model?.price | currency: 'USD':'symbol-narrow':'1.0-2' }}*</h2>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div ngClass.lt-md="av-flight-main-scroll">
    <av-flight-itinerary-detail [model]="model?.depart"></av-flight-itinerary-detail>
    <mat-divider inset></mat-divider>
    <av-flight-itinerary-detail [model]="model?.return"></av-flight-itinerary-detail>
  </div>
  <div>
    <mat-divider></mat-divider>
    <div class="av-flight-footer" fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" (click)="select()">Select flight</button>
      <span fxFlex fxHide fxShow.gt-sm></span>
      <h2 class="av-m-0 av-text-accent" fxHide fxShow.gt-sm>
        {{ model?.price | currency: 'USD':'symbol-narrow':'1.0-2' }}*
      </h2>
    </div>
  </div>
</div>
