.av-flight-header {
  padding-bottom: 10px;

  .av-title {
    padding-left: 16px;
  }

  .av-price {
    margin-right: 10px;
  }
}

.av-close-btn {
  font-size: 2em;
  margin-bottom: 5px;
}

.av-flight-footer {
  padding: 20px 10px 5px;
}
