.av-flight-header {
  padding-bottom: 10px;

  .av-title {
    padding-left: 16px;
  }

  .av-price {
    margin-right: 10px;
  }

  .av-close-btn {
    font-size: 2em;
    margin-bottom: 5px;
    top: 1px;
  }
}

.av-flight-main-scroll {
  height: calc(100vh - (71px + 68px));
  overflow-y: scroll;
}

.av-flight-footer {
  padding: 16px 10px 0;
}
